body {
    background-image: url('/public/bg.png');
}

.login-form {
    background-color: #fff8dc;
    padding: 2.5em 2.5em;
    border-radius: 2em;
    width: 500px;
    margin: 0 auto;

}

.username-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}