.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-radius: 0.25rem;
    /* background-color: #fff; */
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

/* Semantics Button */
.primary {
    background-color: #7b72f7
}

.secondary {
    background-color: rgba(255, 255, 255, 0.349);
}

.danger {
    background-color: #ff0000;
}

.success {
    background-color: #00ff00;
}

.warning {
    background-color: #ffff00;
}

.info {
    background-color: #00ffff;
}